@use '../colors/colors' as c;
@use '../mixins/mixin' as m;
.artist-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 4rem;
    max-width: 350px;
    height: 150px;
    background-color: #252525;
    h2{
        color: c.$primary-color;
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 500;
       
    }
    &.-best{
        background-color: c.$secondary-color;
        .-amount{
            color: c.$primary-color;
        }
    }
    .-amount{
        color: c.$secondary-color;
    }
    @include m.sm{
        width: 300px;
        h2{
            font-size: 1.7rem;
        }
    }
}