@use '../colors/colors' as c;
@use '../mixins/mixin' as m;
.main-text{
    color: c.$primary-color;
    font-size: 1.8rem;
    width: 400px;
    a{
        color: c.$primary-color;
    }
    p{
        margin-bottom: 6.3rem;
    }
    @include m.sm{
        font-size: 1.5rem;
    }
}