@use '../colors/colors' as c;
@use '../mixins/mixin' as m;
.main-header{
    @include m.container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.5rem;
    margin-bottom: 9rem;
    span p{
        display: inline;
        font-size: 4rem;
        line-height: 4.9rem;
        font-weight: 700;
    }
    .main-nav{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            width: 60%;
            display: flex;
            justify-content: space-between;
            li a{
                text-decoration: none;
                font-size: 1.8rem;
                color: c.$primary-color;
                &:hover{
                    color: #7a7a7a;
                }
            }
        }
        .button-conect{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            border: none;
            width: 23rem;
            height: 5rem;
            p{
                font-size: 1.6rem;
                line-height: 2rem;
                font-weight: 700;
            }
            &:hover{
                cursor: pointer;
                transform: scale(1.05);
                transition: 100ms;
            }
        }
        .close{
            display: none;
            width: 40px;
        }
    }
    .menu-icon{
        display: none;
    }
}
@include m.lg{
    .main-header{
        .main-nav{
            display: none;
        }
        .button-conect{
            display: none;
        }
        .menu-icon{
            display: block;
            cursor: pointer;
            width: 20%;
        }
    }
}
@include m.sm{
    .main-header{
        span p{
            font-size: 3rem;
        }
    }
}