@use '../mixins/mixin' as m;
@use '../colors/colors' as c;
.metrics-section{
    border-bottom: 1px solid c.$tertiary-color;
    max-width: 1500px;
    margin: auto;
    .container{
        @include m.container;
        display: flex;
        justify-content: space-between;   
        .texts-and-banner{
            padding-top: 7rem;
            display: flex;
            flex-direction: column;
            gap: 7rem;
            width: 85%;
            border-left: 1px solid c.$tertiary-color;
            .wrapper-texts{
                display: flex;
                justify-content: space-evenly;
                gap: 3rem;
                margin: 0 3rem;
                p{
                    display: block;
                    display: -webkit-box;
                    -webkit-line-clamp: 10;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            img{
                width: 100%;
            }
            @include m.md{
                   width: 80%; 
            }
        }
    }
}

