@use '../colors/colors' as c;
@use '../mixins/mixin' as m;
.wrapper-metrics{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7rem;
    h2{
        font-size: 2rem;
        color: c.$tertiary-color;
        line-height: 1.2;
        text-align: center;
        p{
            color: c.$primary-color;
            font-weight: 600;
            font-size: 5rem;
            @include m.sm{
                font-size: 3rem;
                width: 15%;
            }
        }
    }
}